@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

:root {
  /* background colors */
  --bg-dark: #0d263b;
  --bg-white: #e5e5e5;
  --bg-primary: #0061df;

  /* text colors */
  --textColor-dark: #0d263b;
  --textColor-white: #ffffff;
  --textColor-primary: #0061df;
  --textColor-gray: #696969;

  /* padding */
  --padding: 0 130px;
}

.subTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Color / 2 */

  color: var(--textColor-dark);
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height, or 129% */

  text-align: center;
  letter-spacing: -0.02em;

  /* text/1 */

  color: var(--textColor-dark);
}

.info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Text / Color */

  color: var(--textColor-gray);
}
